.pplc-mocks-right-section {
  grid-column: 7/-1;
  display: grid;
  gap: 1rem;
  align-items: center;

  grid-template-columns: subgrid;

  /* @media (max-width: 1200px) {
    grid-column: 6/-1;
  } */

  @media (max-width: 920px) {
    grid-column: 1/-1;
    margin-bottom: 2rem;
    align-items: first baseline;
    background-color: #e4e9f9;
    padding: 2rem 0;
  }
}

.pplc-mocks-left-section {
  grid-column: 1/7;
  display: grid;
  gap: 1rem;
  align-items: center;
  grid-template-columns: subgrid;

  /* @media (max-width: 1200px) {
    grid-column: 6/-1;
  } */

  @media (max-width: 920px) {
    grid-column: 1/-1;
    margin-bottom: 2rem;
    background-color: #e4e9f9;
    padding: 2rem 0;
  }
}
