.hero-container {
  background-color: paleturquoise;
  border-bottom-left-radius: var(--radius-lg);
  grid-column: 6/-1;
  /* grid-row: 1 /6; */
  /* height: 1000px; */

  @media (max-width: 920px) {
    grid-column: 1/-1;
    /* grid-row: 4 / -1; */
    border-bottom-right-radius: var(--radius-lg);
  }
}
